In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 100)

In [2]:
final_df = pd.read_csv("dataset/extracted_df.csv")

In [3]:
final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
0,Sunrisers Hyderabad,Kings XI Punjab,Hyderabad,41,47,8,143,8.383562,5.234043,1
1,Deccan Chargers,Kolkata Knight Riders,Hyderabad,188,104,9,204,6.000000,10.846154,0
2,Rajasthan Royals,Chennai Super Kings,Centurion,82,45,7,164,6.560000,10.933333,0
3,Mumbai Indians,Kings XI Punjab,Centurion,106,97,9,119,3.391304,6.556701,1
4,Royal Challengers Bangalore,Kolkata Knight Riders,Durban,136,112,10,139,2.250000,7.285714,1
...,...,...,...,...,...,...,...,...,...,...
71337,Deccan Chargers,Kings XI Punjab,Johannesburg,129,115,10,134,6.000000,6.730435,0
71338,Deccan Chargers,Chennai Super Kings,Nagpur,5,9,6,138,7.189189,3.333333,1
71339,Deccan Chargers,Chennai Super Kings,Chennai,32,33,8,144,7.724138,5.818182,1
71340,Deccan Chargers,Kolkata Knight Riders,Kolkata,147,97,8,163,4.173913,9.092784,0
71341,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,182,113,10,194,10.285714,9.663717,0

In [4]:
X = final_df.iloc[:,:-1]
y = final_df.iloc[:,-1:]

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 1)

In [6]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [8]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [9]:
pipe.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Pipeline(memory=None,
         steps=[('step1',
                 ColumnTransformer(n_jobs=None, remainder='passthrough',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('trf',
                                                  OneHotEncoder(categories='auto',
                                                                drop='first',
                                                                dtype=<class 'numpy.float64'>,
                                                                handle_unknown='error',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])],
                                   verbose=False)),
                ('step2',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='liblinear', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [10]:
y_pred = pipe.predict(X_test)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8026490994463522

In [12]:
import pickle
pickle.dump(pipe,open("models/model.pkl",'wb'))

In [14]:
sklearn.preprocessing__version__

NameError: name 'sklearn' is not defined